name: Nix CI

on:
  workflow_call:
    inputs:
      use_secret:
        description: "Whether to use the secret"
        required: false
        type: boolean
        default: false
    secrets:
      CI_DEPLOY_KEY:
        description: "Optional SSH deploy key"
        required: false

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v32
      - name: Check Formatting
        run:
          nix shell nixpkgs#nixfmt-rfc-style -c find . -name "*.nix" -exec
          nixfmt --strict --check {} +

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v32
      - name: Run statix
        run: nix shell nixpkgs#statix -c statix check .

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v32
      - uses: nix-community/cache-nix-action@v6
        with:
          primary-key:
            nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 2G
          purge: true
          purge-prefixes: nix-${{ runner.os }}-
          purge-created: 0
          purge-primary-key: never
      - name: Conditionally set up SSH deploy key
        if: ${{ inputs.use_secret == true }}
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.CI_DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          git config --global url."git@github.com:".insteadOf "https://github.com/"
      - name: Run nix flake check
        run: nix flake check
